<html>
<body>
<div id="app" style="width: 400px; margin: 100px auto 0;">
    <input v-model="newDescription" id="new-task-vue" type="text">
    <button @click="addTask">Add task</button>
    <h3>Tasks:</h3>
    <div v-for="task in tasks">
        <input type="checkbox" @change="toggleTaskState(task)" :checked="task.isCompleted">
        <button @click="deleteTask(task)">X</button>
        <span :style="{ textDecoration: task.isCompleted ? 'line-through' : 'None' }">{{ task.description }}</span>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://wzrd.in/standalone/uuid%2Fv4@latest"></script>
<script>
    const axiosInstance = axios.create({
        baseURL: 'https://kxghwhuk69.execute-api.eu-west-1.amazonaws.com/default/',
        headers: {'Content-Type': 'text/plain'}
    });
    new Vue({
        el: '#app',
        data: {
            newDescription: null,
            tasks: []
        },
        methods: {
            addTask() {
                let newTask = {
                    PK: "TASK#" + uuidv4(),
                    description: this.newDescription,
                    isCompleted: false
                };
                this.tasks.push(newTask);
                this.newDescription = null;
                axiosInstance.post("create-task", newTask);
            },
            deleteTask(task) {
                this.tasks.splice(this.tasks.indexOf(task), 1);
            },
            toggleTaskState(task) {
                task.isCompleted = !task.isCompleted;
                axiosInstance.post("create-task", task);
            }
        },
        mounted() {
            axiosInstance.get("get-all-tasks").then(
                response => this.tasks = response.data
            )
        }
    });
</script>
</body>
</html>